*{
    margin: 0px;
    background-color: transparent;
}

#content{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: Verdana, sans-serif;
    color: #0082CC;
    text-shadow: 2px 2px 1px black;
}

p{
    margin-top: 10px;
}

img.crosswise{
    box-shadow: 2px 2px 1px black;
    width: 800px;
}

img.lengthwise{
    box-shadow: 2px 2px 1px black;
    height: 800px;
}